<slu-title-bar [showSubHeading]="!isMobile" (showSidenav)="sidenav.toggle()"></slu-title-bar>
<mat-drawer-container color="accent" class="example-container">
    <mat-drawer #sidenav [mode]="isMobile ? 'over' : 'side'" [(opened)]="opened" class="example-sidenav">
        <mat-nav-list>
            <ng-container *ngFor="let link of links; let i = index">
                <ng-container *ngIf="!link.roles || authService.hasRole(link.roles)">
                    <a mat-list-item [routerLink]="link.url" (click)="onLinkClick(i+1)" [ngClass]="{'activeMenuItem': ((i+1) == activeLinkIndex)}">
                        <fa-icon [icon]="['fas', link.icon]" [fixedWidth]="true" style="padding-right: 10px;"></fa-icon>
                        {{ link.title }}
                    </a>
                </ng-container>
            </ng-container>
        </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
