<mat-form-field *ngIf="reaches && reaches.length > 0; else empty" [formGroup]="parentForm">
    <mat-label>{{ title }}</mat-label>
    <mat-select [id]="ref" [formControlName]="ref" (selectionChange)="onReachSelect($event)" required>
        <mat-option *ngIf="showNoneOption">&lt;None&gt;</mat-option>
        <mat-option *ngFor="let reach of reaches" [value]="reach">
            {{reach.name}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="parentForm.controls[ref].invalid">{{ getError() }}</mat-error>
</mat-form-field>
<ng-template #empty>
</ng-template>
