<slu-simulation-run-select [resultsRequired]="true" (run)="onRunSelect($event)" (count)="onRunCountChange($event)"></slu-simulation-run-select>
<ng-container *ngIf="isRunCountRetrieved && availableResultsCount == 0">
    <p>There are no results available (do you need to run the model?)</p>
</ng-container>

<ng-container *ngIf="run">
  <ng-container *ngIf="isAvailable; else notAvailable">
    <form [formGroup]="incaForm" (ngSubmit)="onSubmit()">
        <div class="flex-row space">
            <mat-form-field>
                <mat-label>Baseline SMD</mat-label>
                <input type="number" id="baselineSmd" formControlName="baselineSmd" matInput #baseline required>
                <mat-error *ngIf="incaForm.controls.baselineSmd.invalid">{{ getBaselineError() }}</mat-error>
            </mat-form-field>
            <span>
              <button mat-raised-button type="submit" color="primary" [disabled]="incaForm.invalid || incaForm.pending || isFetching">
                Calculate
              </button>
            </span>
        </div>
        <span *ngIf="isFetching"><em>{{ message }}</em></span>
    </form>
  </ng-container>
  <ng-template #notAvailable>
    You must run the model with the 'large' output size
  </ng-template>
</ng-container>
