<mat-sidenav #sidenav mode="side" class="example-sidenav" [fixedInViewport]="false">
    <mat-nav-list>
        <mat-list-item>
            <fa-icon [icon]="faTachometerAlt" [fixedWidth]="true" style="padding-right: 10px;"></fa-icon>
            Dashboard
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faProjectDiagram" [fixedWidth]="true" style="padding-right: 10px;"></fa-icon>
            Projects
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faFileImport" [fixedWidth]="true" style="padding-right: 10px;"></fa-icon>
            Import
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faSquareRootAlt" [fixedWidth]="true" style="padding-right: 10px;"></fa-icon>
            Parameters
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faCalculator" [fixedWidth]="true" style="padding-right: 10px;"></fa-icon>
            Model run
        </mat-list-item>
        <mat-list-item>
            <fa-icon [icon]="faChartBar" [fixedWidth]="true" style="padding-right: 10px;"></fa-icon>
            Results
        </mat-list-item>
    </mat-nav-list>
</mat-sidenav>
