.mat-icon {
    pointer-events: auto;
    font-size: 16px;
}
// https://stackoverflow.com/questions/47058483/angular-2-material-mattooltip-multiline
.mat-tooltip {
    white-space: pre-line;
    font-size: 14px;
}
